.wrapper {
  min-height: 100vh;       
  display: flex;
  justify-content: center;  
  align-items: center;      
}

.leaf {
  width: 50px;
  height: 50px;
  background-image: url("/images/leaf-icon.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.05);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
